#home-slider.royalSlider.default
  %ul.royalSlidesContainer
    %li.royalSlide
      = image_tag("galeria_home/foto_home.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Barriga de Freira"}
      = image_tag("galeria_home/foto_barriga_2.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Barriga de Freira"}
      = image_tag("galeria_home/foto_barriga_close_2.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Bala de Ovos"}
      = image_tag("galeria_home/foto_bala_1.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Bala de Ovos"}
      = image_tag("galeria_home/foto_bala_4.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Pastel de Santa Clara"}
      = image_tag("galeria_home/foto_pastel_2.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Pastel de Santa Clara"}
      = image_tag("galeria_home/foto_pastel_1.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Mini Toucinho do Céu"}
      = image_tag("galeria_home/foto_toucinho_home.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Mini Toucinho do Céu"}
      = image_tag("galeria_home/foto_toucinho_2.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Kit Degustação"}
      = image_tag("galeria_home/foto_caixa1.jpg")

.legenda-home
  .texto-legenda