#home-slider.royalSlider.default
  %ul.royalSlidesContainer
    %li.royalSlide
      = image_tag("fotos/foto_home.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Barriga de Freira"}
      = image_tag("fotos/foto_barriga_3.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Bala de Ovos"}
      = image_tag("fotos/foto_bala_1.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Bala de Ovos"}
      = image_tag("fotos/foto_bala_4.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Pastel de Santa Clara"}
      = image_tag("fotos/foto_pastel_1.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Mini Toucinho do Céu"}
      = image_tag("fotos/foto_toucinho_2.jpg")
    %li.royalSlide{ :"data-legenda-texto" => "Mini Toucinho do Céu"}
      = image_tag("fotos/foto_toucinho_3.jpg")

.legenda-home
  .texto-legenda