!!! 5
%html{lang: "pt-br"}
  %head
    %meta{ charset: "utf-8" }
    
    %title Barriga de Freira
    
    %meta{ name: "description", content: "Barriga de Freira – Doçaria Conventual. A boa doçaria dos conventos, uma das maiores riquezas da cozinha portuguesa." }
    %meta{ name: "keywords", content: "barriga de freira, bala de ovos, pastel de santa clara, fios d'ovos, toucinho do céu, ovos moles, rocambole de laranja, doce, doces, doces portugueses, doceria, doçaria, doçaria conventual, mônica, naná, rio de janeiro, brasil" }
    
    
    -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
    -# Esse código não é um W3C standard, já que uma particularidade da Microsoft
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    :javascript
      if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
        var viewportmeta = document.querySelector('meta[name="viewport"]');
        if (viewportmeta) {
          viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0';
          document.body.addEventListener('gesturestart', function() {
            viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
          }, false);
        }
      }
    
    = stylesheet_link_tag %w(style.css)
    
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5717684-3']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
  %body
    #logo
      %a{:href => "/"}= image_tag "logo.png"
      
    #moldura
      = partial "menu.haml"
      
      #conteudo
        #sombra-conteudo-left
        #sombra-conteudo-right
        #sombra-conteudo-top
        #sombra-conteudo-bottom
        = yield
      
    = javascript_include_tag %w(jquery.min script.js)
